@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {

    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    color:rgb(211, 211, 211);
}


html,body{
    
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    scroll-behavior: smooth;
    
}


.nav{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.nav ul{

    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    margin: 100px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 25px;
    margin-left:50%;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    
}

.section1{          /*TODO ponerle nombre y ordenarlo*/

    padding: 10px;
    margin-top: 0%;
}

.nav li{

    display: inline;

  
}


.nav a{

    display: inline-block;
    color:white;
    padding: 0px;
    text-decoration: none;
    font-size: 40px;
    
    margin-right: 30px;

 
}

.main-nav{

    text-align: center;
    
}

.nav a:hover{

    background-color: #cc0099;

}

body {
    color: #eee;
    background: #1b1b1b;
    font: 100% system-ui;
}
a {
    color: #809fff;
}



@media (max-width:900px){


    .nav li{

        display: block;    
      
    }
    .title{

        size: 1px;
        text-align: center;
        color: white;
    
        -webkit-text-fill-color:transparent;
        -webkit-text-stroke-width:0.4px ;
    }
    .nav a{

        font-size: 20px;
    }

    .img-title{

        visibility: hidden;
        
    }

}



.main-header{

    background-image: url("Imgs/banner_cut.jpg");
    background-size:cover;
    width: 100%;
    height: 600px;
   
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;

}


.footer{

    background-color: #7a7595;
    position: relative;
    margin:0px;
    padding: 0px;
    overflow: auto;
}


.footer li{

    display: inline;
    align-items: center;
    

}
    


.footer img{

    max-height: 40px;
    max-width: 40px;
    padding: 5px;
    
    
}

.footer a{

    
    color:white;
    font-size: 110%;
    padding-bottom: 0px;

}

.copyright{

    margin-left: 25%;
    
}

.hr-sections{

    border-color: #7a7595;
    margin-left: 25%;
    margin-right: 25%;
}


.header-section-title{

    margin-left: 32%;
    margin-right: 32%;
    
    font-size: 40px;
    color: #8A84EE;

    -webkit-text-fill-color:transparent;
    -webkit-text-stroke-width:0.4px ;
    
    
   
    
}

.header-section{


    padding:25px;
}

.p-section{

    padding:25px;
    text-size-adjust: auto;
}

.footer ul{

    margin-bottom: 30px;
}

.title{

    text-align: center;
   

    font-size: 90px;
    color: white;

    -webkit-text-fill-color:transparent;
    -webkit-text-stroke-width:0.4px ;
    
}

.img-title{

    max-height: 107px;
    max-width: 110px;
    padding: 10px;
    padding-bottom: 30px;
    vertical-align:bottom;
    
}

.div-title{
    margin-left:55%;
    margin-top: 0%;
    padding-top: 70px;
    
}